<section class="my-16 py-64 bg-neutral-300">
  <div class="full-bleed">
    <div class="max-w-6xl mx-auto flex justify-center items-center">
      <div class="text-center mx-8 hover:bg-neutral-200 rounded">
        <a data-project="eleventy" class="shadow-0 block p-8 font-title text-base rounded" href="https://www.11ty.io/">
          <span class="block w-32 h-32">
            <img class="block w-full h-full" src="/images/eleventy.png" alt="">
          </span>
          <span class="block font-title base-xl mt-2">Eleventy</span>
        </a>
      </div>
      <span class="block font-title mb-4 text-5xl text-neutral-600">+</span>
      <div class="text-center mx-8 hover:bg-neutral-200 rounded">
        <a data-project="hylia" class="credit block p-8 rounded" href="https://hylia.website/">
          <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="62.6992" cy="62.7" r="37.5" fill="#173854"/>
            <path d="M95.5117 62.7C95.5117 80.8218 80.8211 95.5125 62.6992 95.5125C44.5774 95.5125 29.8867 80.8218 29.8867 62.7C29.8867 44.5781 44.5774 29.8875 62.6992 29.8875C80.8211 29.8875 95.5117 44.5781 95.5117 62.7Z" fill="#FEDC8C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M94.3224 71.4843C87.9992 72.4895 81.5065 73.0125 74.8866 73.0125C58.9716 73.0125 43.7918 69.99 29.9355 64.5103C30.8751 81.7902 45.1845 95.5125 62.699 95.5125C77.7782 95.5125 90.4817 85.3407 94.3224 71.4843Z" fill="#FED26A"/>
          </svg>
          <span class="block mt-2 font-title base-xl">
            Hylia
        </span>
        </a>
      </div>
      <span class="block font-title mb-4 text-5xl text-neutral-600">+</span>
      <div class="text-center mx-8 hover:bg-neutral-200 rounded">
        <a data-project="tailwind" class="credit block p-8 rounded" href="https://tailwindcss.com/">
          <svg width="128" height="128" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M64 40c-11.467 0-18.633 5.778-21.5 17.333 4.3-5.777 9.317-7.944 15.05-6.5 3.271.825 5.61 3.216 8.197 5.863C69.963 61.01 74.843 66 85.5 66c11.467 0 18.633-5.778 21.5-17.333-4.3 5.777-9.317 7.944-15.05 6.5-3.271-.825-5.61-3.216-8.197-5.863C79.537 44.99 74.657 40 64 40zM42.5 66C31.033 66 23.867 71.778 21 83.333c4.3-5.777 9.317-7.944 15.05-6.5 3.271.825 5.61 3.216 8.197 5.863C48.463 87.01 53.343 92 64 92c11.467 0 18.633-5.778 21.5-17.333-4.3 5.777-9.317 7.944-15.05 6.5-3.271-.825-5.61-3.216-8.197-5.863C58.037 70.99 53.157 66 42.5 66z" fill="url(#tailwindcss_linear)"/>
            <defs>
              <linearGradient id="tailwindcss_linear" x1="18.611" y1="40" x2="107.339" y2="90.765" gradientUnits="userSpaceOnUse"><stop stop-color="#2298BD"/><stop offset="1" stop-color="#0ED7B5"/></linearGradient>
            </defs>
          </svg>
          <span class="block mt-2 font-title base-xl">
          TailwindCSS
        </span>
        </a>
      </div>
      <span class="block font-title mb-4 text-5xl text-neutral-600">=</span>
      <div class="windwalker text-center mx-8 p-8 rounded self-center">
        <svg width="128" height="128" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M53.4429 26.0451C57.2674 14.5074 69.1422 11.8953 80 18.7444C65.5003 16.5667 61.9869 26.9183 60.9873 39.0335C55.7447 70.2571 23.8966 74.3335 14.2849 55.8694C9.98883 47.6167 11.7701 36.3965 4.92499e-07 39.0335C14.8102 27.8558 13.617 47.6108 22.7642 53.3565C40.9448 64.7763 49.9227 36.6651 53.4429 26.0451Z" fill="url(#windwalker_linear)"/>
          <path d="M15.4972 25.1947C29.9094 23.3064 45.9536 42.5928 38.0202 50.897C34.4952 54.5868 27.6223 54.5903 23.8465 50.897C17.3755 44.5675 27.3163 28.391 15.4972 25.1947Z" fill="url(#windwalker_linear)"/>
          <defs>
            <linearGradient id="windwalker_linear" x1="40" y1="15" x2="40" y2="66.6337" gradientUnits="userSpaceOnUse">
              <stop stop-color="#FFF3C4"/>
              <stop offset="1" stop-color="#F2BD43"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="29.6146" y1="27.6126" x2="23.4509" y2="51.7187" gradientUnits="userSpaceOnUse">
              <stop stop-color="#FFF3C4"/>
              <stop offset="1" stop-color="#F2BD43"/>
            </linearGradient>
          </defs>
        </svg>
        <span class="block mt-2 text-white font-title text-base">
          WindWalker
        </span>
      </div>
    </div>

  </div>
</section>

<script>
  const windwalker = document.querySelector('.windwalker');
  const projectQuery = document.querySelectorAll('[data-project]');
  const projects = Array.from(projectQuery);
  let counter = 0;
  let offset = 0;

  const applyShadows = function () {
    projects.forEach(function (project, counter) {
      var instance = `${project.getAttribute('data-project')}`;
      project.addEventListener('mouseover', function () {
        windwalker
          .classList
          .add(`shadow-${instance}`);
      });
      project.addEventListener('mouseout', function () {
        windwalker
          .classList
          .remove(`shadow-${instance}`);
      });
    });
  };
  applyShadows();
</script>