<section class="features mt-32 mx-auto container">
  <article class="flex flex-wrap items-center justify-center">
    <div class="w-full lg:w-1/2 text-center">
      <span class="block w-64 lg:w-full lg:max-w-sm mx-auto">
        {% include "svg/ribbon.svg" %}
      </span>
    </div>
    <div class="lg:w-1/2">
      <h2 class="text-4xl md:text-5xl lg:text-6xl">Built on the best</h2>
      <span class="mt-4 md:mt-8 inline-block w-8 h-1 md:w-12 md:h-1 xl:w-16 xl:h-2 bg-primary-400"></span>
      <p class="mt-8 text-lg leading-normal">Harness the power of <a href="https://www.11ty.io">Eleventy</a>, <a href="https://www.hylia.website">Hylia</a>, <a href="https://www.tailwindcss.com">TailwindCSS</a>, and <a href="https://www.netlify.com">Netlify</a> to kickstart your blog or personal site</p>
      <a class="" href="#0">Learn more</a>
    </div>
  </div>
</article>
</section>