<header role="banner" class="relative hero bg-homepage-hero bg-primary-800">
  <div class="absolute bottom-0 left-0 h-32 lg:h-48 w-full bg-neutral-1000 z-0" style="clip-path: polygon(100% 0, 0% 100%, 100% 100%);"></div>
  {% include "partials/global/site-header.njk" %}
  {% include "partials/components/homepage-intro.njk" %}
</header>