<header class="container mx-auto xl:pb-12 border-b border-primary mt-16 md:mt-24 lg:mt-32">
  <h1 class="text-heading intro__heading{{ ' intro__heading--compact' if page.url === '/' }}">{{ introHeading }}</h1>
  {% if subHead %}
    <span class="mt-4 inline-block text-subheading text-2xl md:text-3xl lg:text-4xl max-w-measure">
      {{ subHead | safe }}
    </span>
  {% endif %}
  {% if introSummary %}
    <div class="max-w-sm md:max-w-md lg:max-w-xl mt-4 text-subheading text-xl md:text-2xl leading-tight">{{ introSummary | safe }}</div>
  {% endif %}
</header>