<header class="mx-auto mt-16 md:mt-24 lg:mt-32">
  <div class="md:max-w-xl lg:max-w-3xl">
    <h1 class="intro__heading{{ ' intro__heading--compact' if page.url === '/' }}">{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="mt-2 text-neutral-500 text-xl md:text-2xl lg:text-4xl leading-none">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>