{% if demo.navigation %}
  <nav class="px-8 self-start">
    <ul class="flex flex-col md:flex-row md:flex-wrap md:justify-between">
      {% for item in demo.navigation %}
        {% if loop.first %}
          <li class="text-sm text-footer font-bold uppercase">{{ item.section }}
          {% else %}
            <li class="md:ml-12 text-sm text-footer mt-8 md:mt-0 uppercase font-bold">{{ item.section }}
            {% endif %}
            <ul class="mt-6 font-normal capitalize">
              {% for i in range(0, item.link.length) -%}
                <li class="my-2">
                  <a class="py-2 text-base text-neutral-400 hover:underline" href="{{ items.link[i].url }}">{{ item.link[i].text }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}