{% if navigation.items %}
  <nav class="mt-8 lg:mt-0">
    <ul class="flex flex-col lg:flex-row">
      {% for item in navigation.items %}
        {% set relAttribute = '' %}
        {% set currentAttribute = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        {% if loop.first %}
          <li>
            <a class="font-bold no-underline" href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% else %}
          <li class="mt-3 lg:mt-0 lg:ml-3">
            <a class="font-bold no-underline" href="{{ item.url }}"{{ relAttribute | safe }}{{  currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  </nav>
{% endif %}