{% if postListItems.length %}
  <section class="py-16">
    <div class="">
      <h2 class="">{{ postListHeading }}</h2>
      <ol class="" reversed>
        {% for item in postListItems %}
          {% if item
            .date
            .getTime() <= global
            .now %}
            <li class="post-list__item">
              <h3 class="font-sans leading-tight text-600 ">
                <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>
              <p class="text-500 gap-top-300 ">
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}