<footer role="contentinfo" class="bg-footer text-footer pt-16 pb-16">
  <div class="container px-8">
    <div class="[ site-foot__inner ] lg:flex lg:justify-between lg:items-start">
      {% if site.shortDesc %}
        <div>
          <article>
            <p class="font-bold text-lg">{{ site.name }}</p>
            <div class="text-sm mt-2 max-w-xs">
              {{ site.shortDesc | markdownFilter | safe }}
            </div>
          </article>
        </div>
      {% endif %}
      <div>
        {% include "partials/components/nav-footer.njk" %}
        <div class="mt-8">
          <theme-toggle></theme-toggle>
        </div>
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p class="mt-8">
        Powered by the <a href="https://windwalker.website" rel="external">WindWalker Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>