<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="pt-16 pb-8 bg-header text-header">
  <div class="px-20">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
    <div class="flex flex-wrap justify-center items-center ]">
      <a href="/" class="block w-auto" {{ 'aria-current=page' if page.url == '/' | safe }}>
        <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
        <span class="inline-block flex items-center" aria-hidden="true">
          <span class="inline-block">{% include "icons/site-logo.svg" %}</span>
        </span>
      </a>

      {% from "partials/macros/nav-item.njk" import navItem as headerNavItem %}
      <ul class="">
        {% for item in navigation.items %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}

          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}

          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          {{ headerNavItem(item.url, item.text, 'test', 'test') }}
        {% endfor %}
      </ul>

    </div>
  </div>
</header>