/* Default theme - Light */
:root {
  --bg-header: theme('colors.transparent');
  --text-header: theme('colors.white');

  --bg-body: theme('colors.neutral.1000');
  --text-body: theme('colors.neutral.200');

  --bg-intro: theme('colors.transparent');
  --text-intro: theme('colors.neutral.200');

  --bg-intro-bleed: theme('colors.neutral.900');
  --text-intro-bleed: theme('colors.neutral.100');

  --text-heading: theme('colors.neutral.200');
  --text-tint: theme('colors.neutral.500');

  --bg-link: theme('colors.transparent');
  --text-link: theme('colors.neutral.100');
  --bg-link-hover: theme('colors.neutral.900');
  --text-link-hover: theme('colors.primary.400');

  --bg-code-inline: theme('colors.transparent');
  --text-code-inline: theme('colors.primary.500');

  --bg-code-block: theme('colors.neutral.300');
  --text-code-block: theme('colors.white');

  --bg-blockquote: theme('colors.neutral.900');
  --text-blockquote: theme('colors.neutral.300');
  --border-blockquote: theme('colors.red.400');

  --bg-footer: theme('colors.neutral.900');
  --text-footer: theme('colors.neutral.200');
  --svg-fill-footer: theme('colors.primary.300');
  --bg-callout: theme('colors.primary.500');

  --focus-button: 0 0 0 2px theme('colors.neutral.800');

  --border-primary: theme('colors.neutral.800');

  --bg-link-focus: theme('colors.primary.500');
  --text-link-focus: theme('colors.neutral.200');
}

/* Alternative theme - dark */

@include dark-mode {
  --bg-header: theme('colors.transparent');
  --bg-body: theme('colors.neutral.200');
  --bg-link: theme('colors.transparent');
  --bg-link-hover: theme('colors.neutral.600');
  --bg-callout: theme('colors.primary.500');
  --bg-code-block: theme('colors.neutral.100');

  --bg-code-inline: theme('colors.transparent');
  --text-code-inline: theme('colors.primary.400');


  --bg-intro: theme('colors.primary.400');
  --text-intro: theme('colors.neutral.900');

  --bg-intro-bleed: theme('colors.primary.300');
  --text-intro-bleed: theme('colors.white');

  --text-heading: theme('colors.white');
  --text-subheading: theme('colors.red.800');


  --text-header: theme('colors.neutral.900');
  --text-body: theme('colors.neutral.900');
  --text-code-block: theme('colors.neutral.900');


  --bg-footer: theme('colors.primary.300');
  --text-footer: theme('colors.neutral.900');

  --bg-blockquote: theme('colors.neutral.300');
  --text-blockquote: theme('colors.neutral.900');
  --border-blockquote: theme('colors.primary.400');

  --focus-button: 0 0 0 2px theme('colors.neutral.500');

  --border-primary: theme('colors.neutral.300');
}