/* purgecss start ignore */
/* Inter Bold - Full */
@font-face {
  font-family: 'Inter Bold';
  src: url('/fonts/inter-bold.woff2') format('woff2'),
    url('/fonts/inter-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Inter Regular';
  src: url('/fonts/inter-regular.woff2') format('woff2'),
    url('/fonts/inter-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1,
h3,
h4 {
  @apply font-bold leading-none;
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-sm uppercase tracking-wider;
}

a:not([class]) {
  @apply underline cursor-pointer rounded-sm;
  color: var(--link-text);
  background-color: var(--bg-link);
  /* text-decoration-skip-ink: auto; */

  &:hover {
    @apply no-underline;
    color: var(--text-link-hover);
    background-color: var(--bg-link-hover);
  }
}

:not(pre) code {
  @apply font-normal bg-code-inline text-code-inline py-micro-ex px-micro-ch rounded border border-primary;
}

pre>code {
  @apply max-w-full bg-code-block text-code-block;
}

@screen sm {
  h1 {
    @apply text-4xl leading-none;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-base;
  }

}

/* @screen md {
  h1 {
    @apply text-4xl leading-none;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-base;
  }

} */

@screen lg {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-3xl leading-tight;
  }

  h3 {
    @apply text-2xl leading-tight;
  }

  h4 {
    @apply text-lg;
  }

  pre>code {
    @apply max-w-6xl bg-code-block text-code-block;
  }
}

/* purgecss end ignore */