/* Style main-content content here for two main reasons:
 * 1. To account for the fact that some content will be wrapped with element tags 
 *    dynamically by the front-end, and, thus, may not appear in the layout files that 
 *    purgcess audits for active elements and classes
 * 2. To leverage the "*" selector to apply global styles
*/

/* The following is a special purgecss-specific comment for internal stylesheet whitelisting 
 *  Details 👉 https://www.purgecss.com/whitelisting
*/

/* purgecss start ignore */

.main-content {

  /* remove top and bottom margin from all elements in post__body */
  * {
    @apply my-0;
  }

  /* add back bottom margin to all elements in post__body */
  *+* {
    @apply mt-6;
  }


  /* remove margin-top from initial article heading */
  :first-child {
    @apply mt-0;
  }

  /* Set margin-top for various heading scenarios at small viewport sizes */
  h2 {
    @apply mt-12;
    /* Theme */
  }

  h3 {
    @apply mt-10;
  }

  h2+h3 {
    @apply mt-6;
  }

  h4 {
    @apply mt-8;
  }


  h3+h4 {
    @apply mt-3
  }

  h2+*,
  h3+* {
    @apply mt-3;
  }

  h4+* {
    @apply mt-2;
  }

  h2 a,
  h3 a,
  h4 a {
    @apply inline-block h-4 w-4 m-0 ml-2;

    svg {
      @apply m-0 w-full h-full fill-current;
    }
  }

  p,
  ul,
  ol {
    @apply text-base leading-normal;
  }

  ul,
  ol {
    @apply list-inside mt-2;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  li+li {
    @apply mt-1;
  }

  :not(pre) code {
    @apply font-normal;
    background-color: var(--inline-code-bg-color);
    color: var(--inline-code-text-color);
    font-size: .9em;
    padding: .125ex .25ch;
    margin-left: 0.25ch;
    margin-right: 0.25ch;
  }

  pre {
    @apply font-normal rounded;
  }

  pre>code {
    @apply block p-6 text-base rounded overflow-x-auto;
  }

  figure,
  pre>code,
  .video-player,
  video {
    @extend full-bleed;
    /* See "src/css/extends/full-bleed.css" for source */
    @apply max-w-full my-10;
    /* constrain the effect of the full-bleed extend to 100% of its parent container 
     * to prevent it from bleeding to viewport edges on small screens; 
     */
  }

  @screen md {
    *+* {
      @apply mt-8;
    }

    h2,
    h3 {
      @apply mt-12;
    }

    p,
    ul,
    ol {
      @apply text-lg;
    }

    pre>code {
      @apply p-6 text-lg;
    }

    figure,
    pre>code,
    .video-player,
    video {
      @apply my-12;
      /* constrain the effect of the full-bleed extend to a specified max-width */
    }
  }

  @screen lg {
    /* inherits from @md */
    /* *+* {
      @apply mt-10;
    } */

    h2,
    h3 {
      @apply mt-16;
    }

    h4 {
      @apply mt-12;
    }

    h2+* {
      @apply mt-4;
    }

    h3+*,
    h4+* {
      @apply mt-2;
    }



    h2 a,
    h3 a {
      @apply w-6 h-6 ml-3;
    }

    p,
    ul,
    ol {
      @apply text-xl leading-normal;
    }

    pre>code {
      /* @apply text-xl; */
    }

    figure,
    pre>code,
    .video-player,
    video {
      @apply max-w-5xl my-16;
      /* constrain the effect of the full-bleed extend to a specified max-width */
    }

  }


  /* blockquote {
      border-left: 0.4rem solid var(--color-theme-primary-glare);
      margin-left: 0;
      padding-left: get-size(500);
      font-style: italic;
      font-size: get-size(600);

      p {
        opacity: 0.85;
        padding: get-size(500) 0;
      }
    } */

  /* ol:not([class]),
    ul:not([class]) {
      margin-left: get-size(800);

      li+li {
        margin-top: get-size(300);
      }
    } */

  figure,
  figure+*,
  pre>code,
  .video-player,
  .video-player+*,
  video {
    /* --flow-space: #{get-size('max')}; */
  }



  /* figure img,
  pre>code,
  .video-player {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  } */

  figure img {
    position: relative;
    z-index: 1;
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
    max-width: 100%;
    margin: 0.5rem auto 0 auto;
    /* padding: 0 get-size(500); */
  }
}

&__footer {
  background: var(--color-theme-highlight);

  h2 {
    flex-shrink: 0;
    /* margin-right: get-size('base'); */
    color: var(--color-text);
  }


  h2 a {
    @apply invisible;
  }

  /* a {
      background: var(--color-bg);
      padding: 0.4rem 0.6rem;
    } */
}

/* purgecss end ignore */