{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary = summary %}

{% block content %}
  <main id="main-content" class="container" tabindex="-1">
    <article class="max-w-5xl mx-auto [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      {% include "partials/components/callout.njk" %}
      <div class="content [ main-content ] pt-8 md:pt-12 lg:pt-16 {{ 'pb-16 md:pb-24 lg:pb-32' if not site.enableThirdPartyComments }} [ e-content ]">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr/>
        <aside class="">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}