{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}
{% set constrainedHeader = true %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary = summary %}
{{ content | safe }}
{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div>
      {% include "partials/components/homepage-hero.njk" %}
      {% if marketing.items %}
        {% include "partials/components/marketing/marketing-demo-controls.njk" %}
        {% include "partials/components/marketing/A.njk" %}
        {% include "partials/components/marketing/B.njk" %}
        {% include "partials/components/marketing/C.njk" %}
      {% endif %}
      {# {% include "partials/components/post-list.njk" %}
      {% include "partials/components/pagination.njk" %} #}
    </div>
  </main>
{% endblock %}