<div class="jsOCN hidden md:hidden">
  <div class="jsOCN-toggle z-10 fixed inset-0">
    <div class="absolute inset-0 bg-black opacity-75" tabindex="-1"></div>
  </div>
  <div class="jsOCN-panel z-10 fixed inset-y-0 right-0 max-w-xs w-full bg-white overflow-y-auto">
    <div class="relative z-10 bg-white">
      <div class="jsOCN-toggle absolute top-0 right-0 mt-4 mr-6">
        <button type="button" class="text-gray-600 focus:outline-none focus:text-gray-900" aria-label="Close">
          <svg class="h-12 w-12 p-2" fill="currentColor" viewBox="0 0 24 24">
            <path d="M18.2929 19.7071C18.6834 20.0976 19.3166 20.0976 19.7071 19.7071C20.0976 19.3166 20.0976 18.6834 19.7071 18.2929L13.4142 12L19.7071 5.70711C20.0976 5.31658 20.0976 4.68342 19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289L12 10.5858L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L10.5858 12L4.29289 18.2929C3.90237 18.6834 3.90237 19.3166 4.29289 19.7071C4.68342 20.0976 5.31658 20.0976 5.70711 19.7071L12 13.4142L18.2929 19.7071Z"/>
          </svg>
        </button>
      </div>
      <div class="px-4 pt-4 pb-6">
        <img class="h-8 w-8" src="/img/example-logo.svg" alt="">
        <a href="#0" class="mt-8 block text-xs font-semibold text-gray-600 uppercase tracking-wider">Products</a>
        <a href="#0" class="mt-4 block font-medium text-gray-900 hover:text-gray-700">Checkout</a>
        <a href="#0" class="mt-4 block font-medium text-gray-900 hover:text-gray-700">Payments</a>
        <a href="#0" class="mt-4 block font-medium text-gray-900 hover:text-gray-700">Billing</a>
        <a href="#0" class="mt-4 block font-medium text-gray-900 hover:text-gray-700">Insights</a>
      </div>
      <div class="border-t-2 border-gray-200 px-4 pt-6">
        <a href="#0" class="block font-medium text-gray-900 hover:text-gray-700">Marketplace</a>
        <a href="#0" class="mt-4 block font-medium text-gray-900 hover:text-gray-700">Partners</a>
        <a href="#0" class="mt-4 block font-medium text-gray-900 hover:text-gray-700">About</a>
      </div>
    </div>
    <div class="relative bg-white">
      <div class="px-4 pt-4 pb-6">
        <a href="#0" class="block font-medium text-gray-900 hover:text-gray-700">Log in</a>
      </div>
      <div class="p-4">
        <a href="#0" class="block px-3 py-3 font-medium text-center bg-neutral-300 rounded-lg text-gray-900 hover:bg-neutral-400 focus:outline-none focus:bg-neutral-400">Create Account</a>
      </div>
    </div>
  </div>
</div>