{# NOTES:
🚽 System plumbing only
🗑️ Deletable
🚩 Remember: Before deleting, perform a global search for "marketing-demo-controls.njk" to remove calls to this template 
#}

<div id="marketing-controls" class="container flex justify-end">
  <div class="inline-block border border-primary bg-neutral-1000 p-2 rounded-full overflow-hidden">
    <button type="button" class="jsMarketingToggle inline-block h-8 w-8 text-neutral-500 rounded-full focus:outline-none bg-neutral-900 hover:bg-neutral-900" data-target="#marketing-1">1</button>
    <button type="button" class="jsMarketingToggle inline-block h-8 w-8 text-neutral-500 rounded-full focus:outline-none hover:bg-neutral-900" data-target="#marketing-2">2</button>
    <button type="button" class="jsMarketingToggle inline-block h-8 w-8 text-neutral-500 rounded-full focus:outline-none hover:bg-neutral-900" data-target="#marketing-3">3</button>
  </div>
</div>