{# NOTES:
🚽 System plumbing only
🗑️ Deletable
🚩 Remember: Before deleting, perform a global search for "footer-demo-controls.njk" to remove calls to this template 
#}

<div id="footer-controls" class="w-full absolute top-0 mt-32 inset-x-0 container flex justify-center">
  <div class="inline-block border border-primary bg-neutral-1000 p-2 rounded-full overflow-hidden">
    <button type="button" class="jsFooterToggle inline-block h-8 w-8 text-neutral-500 rounded-full focus:outline-none bg-neutral-900 hover:bg-neutral-900" data-target="#footer-1">1</button>
    <button type="button" class="jsFooterToggle inline-block h-8 w-8 text-neutral-500 rounded-full focus:outline-none hover:bg-neutral-900" data-target="#footer-2">2</button>
  </div>
</div>